* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

div {
  text-align: center;
  display: block;
  width: 400px;
  margin: 90px auto;
  font: 30px Arial, Helvetica, sans-serif;
  color: rgb(16, 79, 82);  
}
