* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

div {
  text-align: center;
  display: block;
  width: 400px;
  margin: 90px auto;
  font: 30px Arial, Helvetica, sans-serif;
  color: rgb(16, 79, 82);  
}

.navigator{
  margin: 90px auto;
  text-align: center;
  width: 30%;
  display: flex;
  justify-content:space-around;
  align-items: center;
}

.nav-div{
  justify-content: center;
}
